@import 'colors.css';


* {
	background-image: none;
	border: none;
	box-shadow: none;
	font-size: 13;
}

switch {
	background-color: @base02;
}

switch slider {
	background-color: @base04;
}

/* Bar */

window {
	background: transparent;
}

.VolumeControl,
.Clock, 
.WorkspacesOnMonitor,
.SystemInfo, 
.VolumeIndicator, 
.SystemTray,
.NetworkConfig,
.NetworkIndicator,
tooltip,
.SystemInfo.module
{
	background-color: @base00;
	color: @base05;
	border-radius: 10px;
	padding: 0.5em 1em;
	margin: 0em 5px;
}


/* Left */

.WorkspaceButton {
	padding: 0em 0.75em;
}

.WorkspaceButton.active:not(:hover) {
	box-shadow: inset 0 -3px @base05;
}

button:hover.WorkspaceButton {
	box-shadow: inset 0 -3px @base06;
}


/* Center */

.Center > * {
	margin: 0 5px;
}

.NetworkIndicator {
	margin: 0;
	padding: 0;
}

.NetworkIndicator > * {
	margin: 0 5px;
	padding: 0;
}

/* Right */

.Brightness {
	padding: 4px 0px;
	margin: 0 0.2em;
}

.Brightness trough {
	min-width: 10px;
	min-height: 10px;
	background-color: @base01;
}

.Brightness trough highlight {
	background-color: @base05
}

.Brightness trough slider {
	background-color: transparent;
}

.BatteryProgress {
	min-width: 18px;
	min-height: 18px;
	font-size: 2px;
}

.critical:not(.charging) {
	color: @base0F;
}

.charging {
	color: @base0E;
}

.SystemInfoIndicator {
	margin: 0px;
	padding: 0.0em 0.3em;
}

.SystemTrayItem {
	padding:0.1em;
}



/* Windows */

.VolumeControl,
.NetworkConfig {
	border: 2px solid @base0D;
	min-width: 10em;
}


/* VolumeWindow */

.VolumeControl trough {
	margin: 1em;
	min-width: 10em;
	min-height: 10px;
	background-color: @base01;
}

.VolumeControl trough highlight {
	background-color: @base02
}

.VolumeControl trough slider {
	min-width: 0px;
	min-height: 0px;
	background-color: @base07;
}


/* NetworkWindow */

.VPNSwitch {
	background-color: @base02;
}
.VPNSwitch:checked {
	background-color: @base05;
}

* > .ConnectionTypes,
* > .ConnectionSettings {
	padding: 0.5em;
}

.ConnectionTypes *{
	padding: 0.2em;
	margin: 0.1em;
	border-radius: 10px;
	background-color: @base02;
}

.WifiConnections, .VPNConnections {
	min-height: 10em;
	min-width: 20em;
}

.ScanButton {
	background-color: @base02;
}

.WifiToggleButton {
	background: none;
}

